<style>
#welcome-section {
  font-size: 30px;
}
h1 {
  font-size: 18px;
  color: black;
  text-align: justify;
}
#projects {
  font-size: 20px;
}
.project-tile {
  font-size: 18px;
}
#profile-link {
  font-size: 16px;
}
#navbar {
  position: fixed;
  top: 0;
  right: 0;
}
 @media (min-width: 100px) {
   width: 100%;
}
</style>