body {
  background-color: #3498db;
}

#editor, #preview {
  min-height: 400px;
  background-color: white;
}

img[alt=Markdown] {
  width: 80px; 
  display: block;
  margin-left: auto;
  margin-right: auto;
}